/* opmaak.css */
/* Voetbal.nl Ripper 1.9.7 door Johnvs
/* Datum: 23-10-12
/* Vorige Datum: 22-05-12  1.9.6
/* Dit script is gebaseerd op KNVB Ripper 1.0 door Redroest op wmcity.nl
/* KNVB Ripper 1.0 was al aangepast door Yarro en johnvs om het werkend te krijgen na wijzigingen op KNVB.nl
/* Delen van Voetbal.nl Ripper zijn afkomstig uit de KNVB Ripper versie en/of kunnen afkomstig zijn van
/* Redroest, Yarro, patron2, FreddyHell, Killerbee, Pietjebel


/* CSS voor Weergave van gegevens behorende bij Voetbal.nl Ripper  */

a
{
color: #006CD9;
	text-decoration: none;
}

a:hover
{
color: #2773B3;
	text-decoration: none;
}

body
{
	background-color: #FFFFFF;
color: #004080;
	font-family: Arial;
	font-size: 12px;
}

body.blauw
{
	background-color: #E8F3FF;
color: #004080;
	font-family: Arial;
	font-size: 12px;
}

/* Kleur voor de teamnaam in de kop */
h2
{
color: #194EC2;
	font-size: 15pt;
margin: 15px 20px;
	text-align: center;
}

/* Kleur voor klasse in de kop */
h3
{
color: #194EC2;
	font-size: 12pt;
margin: 15px 20px;
	text-align: center;
}

table.stand
{
width: 440px;
	font-size: 12px;
color: Black;
	border-collapse:collapse; border-spacing: 0;
	margin-left:auto; margin-right:auto;
}

table.uitslagen
{
width: 465px;
	font-size: 12px;
color: Black;
	border-collapse:collapse; border-spacing: 0;
	margin-left:auto; margin-right:auto;
}

table.programma
{
padding: 5px;
width: 700px;
	font-size: 10px;
color: Black;
	border-collapse:collapse; border-spacing: 0;
	margin-left:auto; margin-right:auto;
}

table.clubprogramma
{
padding: 5px;
width: 900px;
	font-size: 12px;
color: Black;
	border-collapse:collapse; border-spacing: 0;
	margin-left:auto; margin-right:auto;
}

table.alle
{
width: 700px;
	font-size: 12px;
color: Black;
	border-collapse:collapse; border-spacing: 0;
	margin-left:auto; margin-right:auto;
}

table.programma th, table.clubprogramma th, table.alle th
{
background: #194EC2; /* Achtergrondkleur van de kopjes in de tabellen  */
color: #FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	text-align: left;
}

table.indeling
{
width: 300px;
	font-size: 12px;
color: Black;
	border-collapse:collapse; border-spacing: 0;
	margin-left:auto; margin-right:auto;
}

td.left
{
	text-align: left;
	font-size: 12px;
}


td.left2
{
	text-align: left;
	font-size: 11px;
	padding-left: 3px;
color: Black;
}

td.left23
{
	background-color: #E8F3FF; /* Achtergrondkleur voor het eigen team in de tabel Alle Uitslagen */
	text-align: left;
	font-size: 11px;
	padding-left: 3px;
color: Black;
}

td.left3
{
	background-color: #E8F3FF; /* Achtergrondkleur voor het eigen team in de overige tabellen  */
	text-align: left;
	font-size: 12px;
}

td.center
{
	text-align: center;
	font-size: 12px;

}

td.center2
{
	text-align: center;
	font-size: 11px;
color: Black;
}

td.center23
{
	background-color: #E8F3FF; /* Achtergrondkleur voor het eigen team in de tabel Alle Uitslagen */
	text-align: center;
	font-size: 11px;
color: Black;
}

td.center3
{
	background-color: #E8F3FF; /* Achtergrondkleur voor het eigen team in de overige tabellen  */
	text-align: center;
	font-size: 12px;
}

th.center
{
background: #194EC2; /* Achtergrondkleur van de kopjes in de tabellen */
color: #FFFFFF;
	text-align: center;
	font-size: 12px;
}

th.left
{
background: #194EC2; /* Achtergrondkleur van de kopjes in de tabellen */
color: #FFFFFF;
	text-align: left;
	font-size: 12px;
}


td.small
{
	font-size: 10px;
	text-align: center;
color: #194EC2; /* Kleur van kleine tekst helemaal onderaan de teampagina */
}

.row0
{
	background-color: #E8F3FF; /* Achtergrondkleur van regel 1 in clubprogramma */
	text-align: left;
}

.row1
{
	background-color: #FFFFFF; /* Achtergrondkleur van regel 2 in clubprogramma */
	text-align: left;
}

.bd
{
	background-color: #FFFFFF;
color: #004080;
	font-family: Arial;
	font-size: 12px;
	margin-left:auto; margin-right:auto;
}

.bdadmin
{
	background-color: #FFFFFF;
color: #004080;
	font-family: Arial;
	font-size: 12px;
}

.afgelastred
{
	background-color: #FF0000;
color: #FFFFFF;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
}

.afgelastblack
{
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
}

.speelronde
{
	font-weight:bold;
	text-align:center;
}

.tbl
{
	background-color: #FFFFFF;
}

a:link
{
color: #FF0000;
	font-family: Arial;
	font-size: 12px;
}

a:active
{
color: #0000FF;
	font-family: Arial;
	font-size: 12px;
}

a:visited
{
color: #800080;
	font-family: Arial;
	font-size: 12px;
}

.hr
{
	background-color: #A6D2FF;
color: #FFFFFF;
	font-family: Arial;
	font-size: 12px;
}

a.hr:link
{
color: #FFFFFF;
	font-family: Arial;
	font-size: 12px;
}

a.hr:active
{
color: #FFFFFF;
	font-family: Arial;
	font-size: 12px;
}

a.hr:visited
{
color: #FFFFFF;
	font-family: Arial;
	font-size: 12px;
}

.dr
{
	background-color: #FFFFFF;
color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.sr
{
	background-color: #A6D2FF;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

html
{
	margin: 0;
	padding: 0;
}
#person {
    width:450px;
    float:left;
    padding:5px;	      
}
#roles {
    background-color:#ff0000;
    width:400px;
    float:left;
    padding:5px;	      
}
#button {
    clear:both;
   padding:5px;	 	 
}